body {
  background-color: green;
}

.card {
  display: inline-block;
  background: white;
  margin: auto;
  height: 400px;
  width: 250px;
  padding: 20px;
  border: 1 px solid black;
  border-radius: 5px;
  position: relative;
}

.top-suit {
  height: 150px;
  width: 200px;
  font-size: 100px;
  margin-top: -40px;
  margin-left: -5px;
}

.number {
  height: 20px;
  width: 20px;
  font-size: 100px;
  text-align: center;
  margin-left: 90px;
}

.bottom-suit {
  height: 50px;
  width: 50px;
  font-size: 100px;
  margin-top: 180px;
  margin-left: 200px;
}

.red {
  color: red;
}

.black {
  color: black;
}
